.class1{
    border: 5px solid rgb(128, 128, 128);
    background-color:rgb(211, 211, 211);
    padding: 20px;
    box-sizing: content-box;
    width:300px;
    height:300px;
    margin-left:700px;

}


.class2{
    border:5px dashed rgb(128,128,128);
    background-color:rgb(211, 211, 211);
    box-sizing: content-box;
    padding: 50px;
    margin: 10px;
    width:500px;
    margin-left: 1250px;
}

.class3{
    border-right: 5px ridge rgb(128,128,128);
    background-color:rgb(211, 211, 211);
    box-sizing: content-box;
    width:500px;

}

.class4{
    border-top:2px dashed ;
    box-sizing: content-box;
    border-bottom:5px dotted;
    width:1000px;
    padding: 10px;
    margin-top:30px;
    margin-left:400px;
    background-color: rgb(211, 211, 211);
}